POCKETBASE_URL=https://sua-url-pocketbase.easypanel.host
POCKETBASE_ADMIN_EMAIL=admin@example.com
POCKETBASE_ADMIN_PASSWORD=suasenhasupersegura
ZAPSCORE_API_URL=https://zapscore-zapscore-api.gtalg3.easypanel.host
# Cole aqui o conteúdo do arquivo service-account.json em uma única linha (JSON serializado)
FIREBASE_SERVICE_ACCOUNT={"type":"service_account","project_id":"seu-projeto",...}
